<h1>Editing qr link</h1>

<%= render "form", qr_link: @qr_link %>

<br>

<div>
  <%= link_to "Show this qr link", @qr_link, class: 'btn-blue' %> |
  <%= link_to "Back to qr links", qr_links_path, class: 'btn-blue' %>
</div>
