<p style="color: green"><%= notice %></p>

<h1>QR Links</h1>
<div style="padding-bottom:12px">
<%= link_to "New qr link", new_qr_link_path %>
</div>

<table id="qr-links-datatable" data-source="<%= qr_links_path(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Destination URL</th>
      <th>QR image</th>
      <th>Resolve URL</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<br>

<%= link_to "New qr link", new_qr_link_path %>

<script>
  $(document).ready(function() {
    $('#qr-links-datatable').dataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": $('#qr-link').data('source')
      },
      "pagingType": "full_numbers",
      "columns": [
        { "data": "name" },
        { "data": "destination_url" },
        { "data": "qr_png_url", "render": function (data) {return "<img src='" + data + "' width='120px' height='120px'>";} },
        { "data": "resolve_url" }
      ]
    });
  });
</script>
